# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# ESP-IDF
build/
sdkconfig
sdkconfig.old
sdkconfig.ci
managed_components/
dependencies.lock

# Editors
.vscode/
.idea/
.cache/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
